<div class="drawer-side pt-20 lg:pt-0">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>

    <div class="min-h-full w-64 bg-base-200 flex flex-col items-start">
        <ul class="menu w-full grow">
            <li>
                <a href="{{ path('app_home') }}"
                   class="{% if controller_name == constant('App\\Controller\\HomeController::CONTROLLER_NAME') %}menu-active{% endif %}">
                    {{ include('icons/spacecraft.html.twig') }}
                    <span>Homepage</span>
                </a>
            </li>

            <li class="menu-title px-4 text-xs uppercase tracking-widest opacity-60">Admin</li>
            <li>
                <a href="{{ path('admin_project_index') }}">
                    {{ include('icons/architecture.html.twig') }}
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_environment_index') }}">
                    {{ include('icons/radar.html.twig') }}
                    <span>Environments</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_policy_index') }}">
                    {{ include('icons/handbook.html.twig') }}
                    <span>Policies</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_integration_index') }}">
                    {{ include('icons/pipeline.html.twig') }}
                    <span>Integrazioni</span>
                </a>
            </li>

        </ul>
    </div>
</div>
